@using System.Web
@model IEnumerable<WebSemantica.Models.Pelicula>

@{
    ViewData["Title"] = "CatalogoPeli";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Catalogo de peliculas</h1>

<div class="container mt-5">
    <form action="@Url.Action("CatalogoPeli","Pelicula")" method="post">
        <div class="row">
            <div class="col">
                <input class="form-control" placeholder="Nombre" name="Nom"></input>

            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-outline-primary">Filtrar</button>
            </div>

        </div>
       
    </form>
    <div class="row row-cols-auto " style="justify-content:center;">
        @foreach (Pelicula pe in Model)
        {
            <div class="col mt-5">
                <div class="card" style="width: 25rem;">
                    <img src="@pe.UrlImagen" class="card-img-top" style="height:35rem; object-fit: contain;">
                    <div class="card-body">
                        <h5 class="card-title">@pe.Nombre</h5>
                        <p class="card-text">@pe.preview</p>
                        <a href="@Url.Action("DetallePeli","Pelicula",new{id=pe.Id })" class="btn btn-primary">Ver mas</a>
                    </div>
                </div>
            </div>
        }
        
    </div>
   


</div>
